version: '3'
services:
  submission:
    build:
      context: ./
      dockerfile: ./services/submission/Dockerfile
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment: 
      SPRING_PROFILES_ACTIVE: cloud,dev
      POSTGRESQL_SERVICE_PORT: '5432'
      POSTGRESQL_SERVICE_HOST: postgres
      POSTGRESQL_DATABASE: ${POSTGRES_DB}
      POSTGRESQL_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRESQL_USER: ${POSTGRES_USER}
    networks:
      - cwa
  distribution:
    build:
      context: ./
      dockerfile: ./services/distribution/Dockerfile
    depends_on:
     - postgres
     - minio
    environment:
      SPRING_PROFILES_ACTIVE: cloud,dev,testdata
      POSTGRESQL_SERVICE_PORT: '5432'
      POSTGRESQL_SERVICE_HOST: postgres
      POSTGRESQL_DATABASE: ${POSTGRES_DB}
      POSTGRESQL_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRESQL_USER: ${POSTGRES_USER}
      # Settings for the S3 compatible MinIO object storage
      CWA_OBJECTSTORE_ACCESSKEY: ${MINIO_ACCESS_KEY}
      CWA_OBJECTSTORE_SECRETKEY: ${MINIO_SECRET_KEY}
      CWA_OBJECTSTORE_ENDPOINT: http://minio
      CWA_OBJECTSTORE_BUCKET: cwa
      CWA_OBJECTSTORE_PORT: 9000
      services.distribution.paths.output: /tmp/distribution
    networks:
      - cwa
  postgres:
    image: postgres:9.6
    restart: always
    ports:
      - "5432:5432"
    environment:
      PGDATA: /data/postgres
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
       - postgres_volume:/data/postgres
    networks:
      - cwa
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    volumes:
       - pgadmin_volume:/root/.pgadmin
    ports:
      - "8081:80"
    restart: unless-stopped
    networks:
      - cwa
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  minio:
    image: "minio/minio"
    volumes:
      - minio_volume:/data
    ports:
      - "8082:9000"
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
    entrypoint: sh
    command: -c 'mkdir -p /data/cwa && minio server /data'
    networks:
      - cwa
volumes:
  logvolume01: {}
  minio_volume:
  postgres_volume:
  pgadmin_volume:
networks:
  cwa:
    driver: bridge